body,
html {
  font-family: sans-serif;
}

.custom-style1 {
  fill: #f2ea00;
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: #b3ab00;
}

.custom-style2 {
  fill: #00a0f2;
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: #050092;
}

.custom-style3 {
  fill: #00f201;
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: #029200;
}
path.custom-style3.vis-fill {
  fill-opacity: 0.5 !important;
  stroke: none;
}

